# def search_products(request):
#     query = request.GET.get('search', '').strip()
#
#     # category = detect_category(query) if query else None  # Получаем выбранную категорию
#     cat = None
#
#     # # Инициализируем формы фильтров
#     # cpu_filter_form = CpuFilterForm(request.GET or None)
#     # gpu_filter_form = GpuFilterForm(request.GET or None)
#     # motherboard_filter_form = MotherboardFilterForm(request.GET or None)
#     # ram_filter_form = RamFilterForm(request.GET or None)
#     # psu_filter_form = PsuFilterForm(request.GET or None)
#     # case_filter_form = CaseFilterForm(request.GET or None)
#     # memory_filter_form = MemoryFilterForm(request.GET or None)
#     # cooler_filter_form = CoolerFilterForm(request.GET or None)
#
#     results = []
#     gpus = GPU.objects.filter(
#         Q(product_name__icontains=query) |
#         Q(brand__icontains=query)
#
#     )
#
#     motherboards = Motherboard.objects.filter(
#         Q(product_name__icontains=query) |
#         Q(brand__icontains=query) |
#         Q(socket__icontains=query)
#     )
#     coolers = Cooler.objects.filter(
#         Q(product_name__icontains=query) |
#         Q(brand__icontains=query)
#     )
#
#     memorys = Memory.objects.filter(
#         Q(product_name__icontains=query) |
#         Q(brand__icontains=query)
#     )
#
#     psus = PowerSupply.objects.filter(
#         Q(product_name__icontains=query) |
#         Q(brand__icontains=query)
#     )
#
#     cases = Case.objects.filter(
#         Q(product_name__icontains=query) |
#         Q(brand__icontains=query)
#     )
#
#
#     rams = RAM.objects.filter(
#         Q(product_name__icontains=query) |
#         Q(brand__icontains=query)
#     )
#     filter_form = None
#     if gpus:
#
#         cat = 'gpu'
#         gpu_filter_form = GpuFilterForm(request.GET or None)
#         results = gpu_filter_form.filter(gpus) if gpu_filter_form.is_valid() else gpus
#         filter_form = gpu_filter_form
#
#
#     elif cpus.exists():  # Процессоры
#         cat = 'cpu'
#         cpu_filter_form = CpuFilterForm(request.GET or None)
#         results = cpu_filter_form.filter(cpus) if cpu_filter_form.is_valid() else cpus
#         filter_form = cpu_filter_form
#
#     elif motherboards.exists():  # Материнские платы
#         cat = 'motherboard'
#         motherboard_filter_form = MotherboardFilterForm(request.GET or None)
#         results = motherboard_filter_form.filter(motherboards) if motherboard_filter_form.is_valid() else motherboards
#         filter_form = motherboard_filter_form
#
#     elif cases.exists():  # Процессоры
#         cat = 'case'
#         case_filter_form = CaseFilterForm(request.GET or None)
#         results = case_filter_form.filter(cases) if case_filter_form.is_valid() else cases
#         filter_form = case_filter_form
#
#     elif memorys.exists():  # Материнские платы
#         cat = 'memory'
#         memory_filter_form =MemoryFilterForm(request.GET or None)
#         results = memory_filter_form.filter(memorys) if memory_filter_form.is_valid() else memorys
#         filter_form = memory_filter_form
#
#     elif rams.exists():  # Процессоры
#         cat = 'ram'
#         ram_filter_form = RamFilterForm(request.GET or None)
#         results = ram_filter_form.filter(rams) if ram_filter_form.is_valid() else rams
#         filter_form = ram_filter_form
#
#     elif psus.exists():  # Материнские платы
#         cat = 'psu'
#         psu_filter_form = PsuFilterForm(request.GET or None)
#         results = psu_filter_form.filter(psus) if psu_filter_form.is_valid() else psus
#         filter_form = psu_filter_form
#
#     elif coolers.exists():  # Процессоры
#         cat = 'cooler'
#         cooler_filter_form = CoolerFilterForm(request.GET or None)
#         results = cooler_filter_form.filter(coolers) if cooler_filter_form.is_valid() else coolers
#         filter_form = cooler_filter_form
#
#     return render(request, 'store/search_results.html', {
#         'query': query,
#         'category': cat,
#         'results': results,
#         'form': filter_form,
#
#     })

    # filter_form = None
    # if category == 'cpu':
    #     filter_form = cpu_filter_form
    #     results = cpu.objects.filter(product_name__icontains=query)
    # elif category == 'GPU':
    #     filter_form = gpu_filter_form
    #     results = GPU.objects.filter(product_name__icontains=query)
    # elif category == 'Motherboard':
    #     filter_form = motherboard_filter_form
    #     results = Motherboard.objects.filter(product_name__icontains=query)
    # elif category == 'cooler':
    #     filter_form = cooler_filter_form
    #     results = Cooler.objects.filter(product_name__icontains=query)
    # elif category == 'memory':
    #     filter_form = memory_filter_form
    #     results = Memory.objects.filter(product_name__icontains=query)
    # elif category == 'psu':
    #     filter_form = psu_filter_form
    #     results = PowerSupply.objects.filter(Q(product_name__icontains=query) |
    #                                          Q(wattage__icontains=query))
    # elif category == 'case':
    #     filter_form = case_filter_form
    #     results = Case.objects.filter(product_name__icontains=query)
    # elif category == 'ram':
    #     filter_form = ram_filter_form
    #     results = RAM.objects.filter(product_name__icontains=query)
    # return render(request, 'store/search_results.html', {
    #     'query': query,
    #     'category': category,
    #     'results': results,
    #     'form': filter_form,
    #
    # })
